/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/

header {
	background-color: #333333;
	min-height: 12vh;
	display: flex;
	overflow: auto;
	margin: auto;
	font-family: Inconsolata, Monaco, monospace;
	width: 100%;
	flex-direction: row;
	align-items: center;
	color: #00FF00;
}

h1 {
	font-size: 48px;
	display: inline;
	padding: 25px 25px;
}

img[alt="welcome to my homepage"] {
	padding-top: 50px;
	padding-bottom: 25px;
	display: block;
	margin: auto;
}

.instructions-wrapper {
	box-sizing: border-box;
	padding: 5px 15px;
	display: flex;
	margin: 25px;
	border: 6px solid black;
	flex-direction: row;
	align-items: center;
	font-family: Inconsolata, Monaco, monospace;

}

.instructions-content {
	box-sizing: border-box;
	width: 50%;
	height: auto;
	display: block;
	margin: 1px 300px 1px 15px;
}

img[alt="captain janeway"] {
	float: right;
	width: 25%;
	height: auto;
	display: block;
	margin: 10px;
}

.about-me {
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	margin: auto;
	width: 100%;
	flex-direction: row;
	align-items: center;
	font-family: Inconsolata, Monaco, monospace;
	color: white;
	background-color: #0000FF;

}

img[alt="captain picard"] {
	float: left;
	width: 30%;
	height: auto;
	display: block;
	margin: 40px 30px 40px 25px;
	border: 3px solid white;
}

.about-me p{
	margin: auto;
	width: 92%;
	padding-top: 10px;
	font-size: 15px;
}

.about-me h2{
	margin: auto;
	width: 92%;
	padding-top: 40px;
}

span {
	color: #FFFF07;
	font-style: italic;
}

html > body.sfooter > div.sfooter-content > section:not(.about-me) > div.container > h2{
	font-family: Inconsolata, Monaco, monospace;
	font-weight: bold;
	text-align: right;
	padding-top: 30px;
}

table {
	border-collapse: collapse;
	margin: auto;
	width: 100%;
}

table, th, td {
	border: 2px solid white;
	background-color: #323232;
	color: #06EB07;
	text-align: left;
	padding: 18px;
	font-family: Inconsolata, Monaco, monospace;
}
